/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(16deg, #34db7a, #00c753);
}

/* Container */
.container {
    background-color: #ffff ;
    height: 260px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    transition: .2s;
}

.container.active {
    height: 500px;
}

/* Header */
#qr-header {
    text-align: center;
}

#qr-header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#qr-header p {
    color: #444;
    font-size: .9rem;
    margin-bottom: 7px;
}

/* Form */
#qr-form input,
#qr-form button {
    width: 100%;
    height: 55px;
    border: none;
    font-size: .9rem;
    border-radius: 5px;
}

#qr-form input {
    border: 1px solid #777;
    padding: 10px 15px;
    text-align: center;
}

#qr-form button {
    background-color: #086824;
    color: #ffff;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    opacity: .9;
    transition: .4s;
}

#qr-form button:hover {
    opacity: 1;
}

/* QR Code */
#qr-code {
    display: flex;
    opacity: 0;
    border: 1px solid #ccc;
    padding: 30px 0;
    margin: 20px 15px;
    justify-content: center;
    border-radius: 5px;
    transition: .5s;
}

.container.container.active #qr-code {
    opacity: 1;
}